<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="\static\BodyStyleSheet.css" rel="stylesheet">
    <title>Nerds4U</title>
    <style>
        img {
            object-fit: cover;
            width: 160px;
        }
    </style>
</head>

<body class="d-flex flex-column min-vh-100">

    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Nerds4U</a>
                <ul class="navbar-nav container-fluid">
                    <div class="input-group p-2 col">
                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">All</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">All Categories</a></li>
                            <li><a class="dropdown-item" href="#">Art</a></li>
                            <li><a class="dropdown-item" href="#">Accessories</a></li>
                            <li><a class="dropdown-item" href="#">Comics</a></li>
                            <li><a class="dropdown-item" href="#">Trading Cards</a></li>
                            <li><a class="dropdown-item" href="#">Toys &amp; Models</a></li>
                        </ul>

                        <input class="form-control" name="search_bar" type="search"
                            placeholder="Search for art, accessories, comics, cards, toys, and more..."
                            aria-label="Search">
                        <button class="btn btn-warning" type="submit"><a href="/"><span
                                    class="bi bi-search"></span></a></button>

                    </div>
                    <li class="nav-item px-1">
                        <a class="nav-link btn btn-dark fs-5" href="/createListing"><span
                                class="bi bi-tags-fill"></span></a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link btn btn-dark fs-5" href="/userLogin"><span
                                class="bi bi-person-fill"></span></a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link btn btn-dark" href="/shoppingCart"><span
                                class="bi bi-cart-fill fs-5"></span><span
                                class="badge rounded-pill bg-secondary">0</span></a>
                    </li>
                </ul>
            </div>
        </nav>


        <nav class="navbar navbar-expand-md navbar-light bg-light mb-5 px-2 py-1">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#subNavbarContent"
                aria-controls="subNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="subNavbarContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Art</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Accessories</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Comics</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Trading Cards</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Toys &amp; Models</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <form class="shadow-lg rounded-3 bg-body container-fluid p-3 mb-5" style="max-width: 75rem" action="" method="post">
        <div class="row m-0">
            <div class="d-flex align-items-center p-0">
                <legend class="col-6 mb-3 p-0">Shopping Cart</legend>
                <p class="col text-end fw-bold pe-3">Subtotal ({{N_Items}} items): &#36;{{Sub_Total}}</p>
                <div class="col-auto mb-3">
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                        data-bs-target="#checkout">Proceed to Checkout</button>
                </div>
            </div>
            <hr class="m-0">
            <ul class="col-12 list-group list-group-flush p-0">
                {%for x in Tuple_List%}
                <li class="list-group-item d-flex align-items-center">
                    <div class="form-check"><input class="form-check-input" type="checkbox" name="Delete_Checks"
                            value="{{x[1]}}" checked></div>
                    <div class="text-center" style="width: 10rem; height: 10em;">
                        <img src="{{url_for('send_image', filename=x[2]+'.jpg')}}" class="h-100">
                    </div>
                    <p class="fs-6 m-0 ps-2">{{x[0]}}</p>
                    <p class="fs-6 text-end mb-0 ms-auto">&#36;{{x[1]}}</p>
                </li>
                {%endfor%}
                {%for x in Tuple_Two%}
                <li class="list-group-item d-flex align-items-center">
                    <!-- <div class="form-check"><input class="form-check-input" type="checkbox" name="item1" checked></div> -->
                    <div class="text-center" style="width: 10rem; height: 10em;">
                        <img src="{{url_for('send_image', filename=x[2]+'.jpg')}}" class="h-100">
                    </div>
                    <p class="fs-6 m-0 ps-2">{{x[0]}}</p>
                    <p class="fs-6 text-end mb-0 ms-auto">&#36;{{x[1]}}</p>

                </li>
                {%endfor%}
                <!-- <li class="list-group-item d-flex align-items-center">
                                <div class="form-check"><input class="form-check-input" type="checkbox" name="item2" checked></div>
                        <div class="text-center" style="width: 10rem; height: 10em;">
                            <img src="pokemon.jpg" class="h-100">
                            /div>
A                        <p class="fs-6 m-0 ps-2">Hotwheels Batmobile</p>                        
                        <p class="fs-6 text-end mb-0 ms-auto">&#36;10.00</p>
                    </li> -->
            </ul>
            <hr>
            <p class="text-end p-0">Absolute Total ({{N_Items}} items): &#36;{{Taxed_Total}}</p>
            <div class="text-end p-0">

                <button type="button" class="btn btn-warning" data-bs-target="#Updatet">Update Cart</button>

                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#checkout">Proceed
                    to Checkout</button>

            </div>
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="checkout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <form class="modal-content needs-validation" novalidate action="" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Checkout</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <legend class="text-danger mb-3">Total ({{N_Items}} Items): &#36;{{Taxed_Total}}</legend>
                        <div class="col-6 mb-3">
                            <label for="shipAddr" class="form-label">Shipping Address</label>
                            <input type="text" value="{{Address}}" class="form-control" name="shipAddr" id="shipAddr"
                                maxlength="255" required>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="shipApt" class="form-label">Apt/Suite</label>
                            <input type="text" class="form-control" maxlength="255" name="shipApt" id="shipApt">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="shipCity" class="form-label">City</label>
                            <input type="text" class="form-control" id="shipCity" name="shipCity" maxlength="255"
                                required>
                        </div>
                        <div class="col-3 mb-3">
                            <label for="shipState" class="form-label">State</label>
                            <select class="form-select" id="shipState" name="shipState" onchange="" required>
                                <option value="" selected>--</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                        <div class="col-3 mb-3">
                            <label for="shipZip" class="form-label">ZIP Code</label>
                            <input type="text" class="form-control" id="shipZip" name="shipZip" maxlength="255"
                                required>
                        </div>
                        <div class="col-3 mb-3">
                            <label for="cardProvider" class="form-label">Card Provider</label>
                            <select class="form-select" id="cardProvider" name="cardProvider" required>
                                <option value="">--</option>
                                <option value="amex">American Express</option>
                                <option value="disc">Discover</option>
                                <option value="mc">MasterCard</option>
                                <option value="visa">Visa</option>
                            </select>
                        </div>
                        <div class="col-6 mb-3">
                            <label for="cardNumber" class="form-label">Card Number</label>
                            <!-- <input type="number" class="form-control" id="cardNumber" name="cardNumber" oninput="luhnCheck(this)" max="16"
                                required> -->
                            <input type="text" class="form-control" id="cardNumber" name="cardNumber" max="16" required>
                            <!-- <div class="invalid-feedback">Invalid Card Number</div> -->
                        </div>
                        <div class="col-3 mb-3">
                            <label for="cvv" class="form-label">CVV</label>
                            <input type="text" class="form-control" id="cvv" name="cvv" max="3" required>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="cardholder" class="form-label">Cardholder Name <small>(Name printed on front of
                                    card)</small></label>
                            <input type="text" value="{{Full_Name}}" class="form-control" id="cardholder"
                                name="cardholder" required>
                        </div>
                        <div class="col-12 mb-3">
                            <input type="checkbox" class="form-check-input" id="billing" name="billzor"
                                onchange="toggleBilling(this)">
                            <label for="billing" class="form-label">Billing Address (If different from shipping
                                address)</label>
                        </div>
                        <div class="row m-0 p-0" id="billInfo" name="billInfo" hidden>
                            <div class="col-6 mb-3">
                                <label for="billAddr" class="form-label">Billing Address</label>
                                <input type="text" class="form-control" id="billAddr" name="billAddr">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="billApt" class="form-label">Apt/Suite</label>
                                <input type="text" class="form-control" id="billApt" name="billApt">
                            </div>
                            <div class="col-6 mb-3">
                                <label for="billCity" class="form-label">City</label>
                                <input type="text" class="form-control" id="billCity" name="billCity">
                            </div>
                            <div class="col-3 mb-3">
                                <label for="billState" class="form-label">State</label>
                                <select class="form-select" id="billState" name="billState">
                                    <option value="" selected>--</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                </select>
                            </div>
                            <div class="col-3 mb-3">
                                <label for="billZip" class="form-label">ZIP Code</label>
                                <input type="number" class="form-control" id="billZip" name="billZip">
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <input type="checkbox" class="form-check-input" id="discount" name="discount"
                                onchange="toggleDiscount(this)">
                            <label for="discount" class="form-label">Discount Code</label>
                            <input type="text" class="form-control" id="discountCode" name="discountCode" hidden>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning">Checkout</button>
                </div>
            </form>
        </div>
    </div>

    <footer class="mt-auto bg-dark text-center">
        <div class="p-3">
            <div class="pb-2">
                <a class="" href="#"><span class="bi bi-twitter"></span></a>
                <a class="" href="#"><span class="bi bi-facebook"></span></a>
                <a class="" href="#"><span class="bi bi-instagram"></span></a>
            </div>
            <p class="m-0"><span class="text-muted">Powered by Amazon Web Services</span></p>
            <p class="m-0"><span class="text-muted">&copy; 2022 Nerds4U.com</span></p>
        </div>
    </footer>

    <script>
        (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')
            var cardNumber = document.querySelector('input[id=cardNumber]');
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
        function luhnCheck(cardNum) {
            let num = cardNum.value;
            let sum = 0;
            let isSecond = false;
            for (let i = (num.length - 1); i >= 0; i--) {
                let d = parseInt(num[i]);
                if (isSecond) {
                    d *= 2;
                    if (d > 9)
                        d -= 9;
                }
                sum += d;
                isSecond = !isSecond;
            }
            if (sum % 10 != 0)
                cardNum.setCustomValidity("Invalid Card Number");
            else
                cardNum.setCustomValidity("");
        }
        function toggleBilling(billing) {
            var billInfo = document.querySelector('div[id=billInfo]');
            billInfo.hidden = !billing.checked;
        }
        function toggleDiscount(discount) {
            var dc = document.querySelector('input[id=discountCode]');
            dc.hidden = !discount.checked;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>